:root {
    --primary: #fff;
    --secondary: #242424;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--primary2{
    background-color: var(--secondary);
    color: #fff;
    border: 1px solid var(--secondary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .btn--outline2 {
    background-color: transparent;
    color: #242424;
    padding: 8px 20px;
    border: 1px solid var(--secondary);
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--outline:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
  
  .btn--outline2:hover{
    transition: all 0.3s ease-out;
    background: #242424;
    color: #fff;
    transition: 250ms;
  }