.footer {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  color: #e1daec;
  background-color: #977ec1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.copyright {
  padding: 1em 1em 0 1em;
}
.footer a {
  margin: 0 12px;
  padding: 0 5px;
  color: #e1daec;
}
.btn:hover {
  color: #cabedd;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}
